body, html{
    max-width: 100vw;
    max-height: 100vh;
    padding: 5rem 15rem;
    background-color: lightblue;
}

.gridContainer{    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    padding: 100px;
    background-color: #ECF2F7;
    border-radius: .8rem;
}

.testimony{
    max-width: 100%;
}

.tm_purp{
    grid-column: 1/3;
}

.kira{
    grid-column: 4;
    grid-row: 1/-1;
}

.tm_DG{
    grid-column: 2/4;
}